/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: gotham,helvetica,arial,sans-serif;
  background: #f3f3f3;
  font-weight: 400;
}

.form-logo {
  content: url(https://www.evernote.com/redesign/global/img/elephant.png);
}

.form-logo, .form-title {
  margin: auto;
}

input {
  display: block;
}

.form-title h1 {
  /*margin: 0px;*/
  text-align: center;
  font-size: 32px;
  color: #2DBE60;
  font-weight: 300;
}

.form-header {
  margin-top: 70px;
  margin-bottom: 26px;
}

.form-all {
  border-top: 4px solid #2DBE60;
}
.form-content {

}

div.form-body {
   margin: auto;
   text-align: left;
   border-radius: 2px;
   border: 1px solid #dedede;
   height: 355px;
   width: 386px;
   background-color: green;
 }
 .label, .email-text-input, .password-text-input {
   display: inline;
   /*float: left;*/
 }

.error {
  line-height: 16px;
  font-size: 12px;
}
ol {
  background-color: yellow;
  list-style: none;
}

form.signup-form {
  box-sizing: border-box;
  margin: 32px;
}
