.main
  height: 774px
  width: 1440px

.nav
  box-sizing: border-box
  width: 5%
  height: 100%
  background-color: #F8F8F8
  float: left

.notes-drawer-cmp
  box-sizing: border-box
  background-color: #fff
  height: 100%
  width: 24.5%
  float: left
  border-right: 1px solid #ECECEC


.note-form-cmp
  box-sizing: border-box
  padding: 0px 60px
  float: left
  background-color: #fff
  height: 100%
  width: 70.5%
